// USER-SIDE

$backgroundColor: #fbfbfb;

$buttonColor: #1565c0;
$btnHoverCol: #2477d6;



// ADMIN-SIDE

$adminBackgound: #fffaf9;
$adminBlock: #ffffff;

$buttonCol: #fefefe;
$buttonHover: #e4ffff;

$borderCol: #f1e6e6;